body{
    align-content:center;
    }

.container {
    align-content: center;
    text-align: center;
    justify-content:center;
}

svg{
    height:400px;
    border:ridge;
    border-color:rebeccapurple;
    margin-bottom:10px;
}

text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


circle {
    fill: lightyellow; /* No fill inside the circle */
    stroke: yellow; /* Yellow stroke (border) */
    stroke-width: 1; /* Stroke width */
    filter: drop-shadow(0 0 10px yellow); /* Glowing effect */
    cursor:pointer;
}